.mainContainer{
  width: 370px;
  height: 400px;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.containerDescricao{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.info{
  display: flex;
  flex-direction: column;
  position: relative;
  top: -51px;
  gap: 8px;

}

.info h2 {
  color: #696969 !important;
  font-weight: 700 !important;
  letter-spacing: 0.8px;
}


.infos{
  margin-top: 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

.infos h5{
  color: #6a6a6a;
  font-weight: 600;
  font-size: 18px ;
}
.infos p{
  margin-top: 4px;
  font-weight: 500;
  color: #8d8d8d;
  font-size: 14px;
}

.infos span{
  height: 3px;
  width: 200px;
  background-color: #D03438;
}


.containerInfos{
  display: flex;
  flex-direction: column;
  margin: 0px 8px;
}
.containerInfos h2{
  color: #373435;
  font-weight: 700 !important;

}
.containerInfos span{
  height: 2px;
  width: 150px;
  background-color: #E2E2E2;
  margin-top: 8px;
}

.containerPropriedades{
  display: flex;
  flex-direction: column;
  width: auto;
}

@media (max-width: 770px){
  .mainContainer{
    width: 100%;
    height: auto;
    padding-bottom: 32px;
  }
  
  .info{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -40px;
  }
  .containerDescricao{
    width: 100%;
  }
  .infos h5{
    font-size: 16px !important;
  }

  .infos p{
    font-size: 12px;
  }

  .infos{
    width: 100%;
    
  }
  
}