.gridContainer{
  margin: 10px 0px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.cardL{
  display: flex;
  grid-column: 1;
}

.cardR{
  display: flex;
  grid-column: 3;
 

}

.linhaCentral{
  grid-column: 2;
  grid-row: 1 / span 3;
  width: 4px;
  height: 100%;
  background-color: black;
}


.linhaD{
  grid-column: 2;
  grid-row: 2;
  background-color: black;
  height: 4px;
  width: 50%;
  position: relative;
  top: 50%;
  left: 25%;
}

.linhaL{
  grid-column: 2;
  grid-row: 1;
  background-color: black;
  height: 4px;
  width: 50%;
  position: relative;
  top: 50%;
  right: 25%;
}