.mainContainer{
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.containerTitulo{
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.containerTitulo h3{
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #696969;
  font-size: 1rem ;
}

.linhaDetalhe{
  margin: 15px 0px;
  width: 250px;
  height: 3px;
  background-color: #D03438 ;
}

.containerTitulo h1{
  font-size: 64px !important;
  margin-bottom: 16px;
}

.containerHistoria{
  display: flex;
  width: 1200px;
  height: 550px;
  background-color: #fff;
  flex-direction: row;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  justify-content: space-between;
}

.containerImagem{
  width: auto;
  padding: 40px 0px 32px 40px;
}

.imagem{
  width: 750px;
  height: 421px;
  border-radius: 5px;
  margin-bottom: 16px;
}
.containerImagem h2{
  color: #D03438;
  font-weight: 600;
  font-size: 1.4rem;
}

.containerTextoHistoria{
  display: flex;
  flex-direction: column;
}

.containerTextoHistoria p{
  color: #575757;
  font-weight: 400;
  font-size: 20px ; 
  line-height: 1.2;
  padding: 40px 40px 0px 32px;
  letter-spacing: 0px;
  width: 325px;
  height: 391px;
}

.linhaDetalhe2{
  margin: 30px 0;
  width: 300px;
  align-self: center;
}

.divConteConosco{
  display: flex;
  flex-direction: column;
}
.divConteConosco p{
  text-align: center;
  letter-spacing: 0px;
  font-weight: 700;
  color: rgb(39, 39, 39) ;
  padding: 10px;
  font-size: 1.4rem;
}

.divConteConosco .linhaDetalhe{
  background-color: rgb(39, 39, 39);
}

@media (max-width: 770px){
  .containerTitulo{
    width: 95%;
  }
  .containerTitulo h1{
    font-size: 48px !important;
  }
  .containerHistoria{
    width: 95%;
    margin: 16px 0px 0px 0px;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .imagem{
   margin-top: 16px;
   width: 98%;
   height: auto;
  }
  .containerImagem{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 98%;
    border-radius: 10px;
    padding: 16px 0px;
  }
  .containerImagem h2{
    font-size: 1.2rem;
  }
  
  .containerTextoHistoria{
    margin: 0;
    padding: 0px;
    margin-top: 8px;
    width: 98%;
    border-radius: 5px;
  
  }
  .containerTextoHistoria h2{
    width: 95%;
    font-size: 1.2rem;
  }
  .containerTextoHistoria p{
    font-size: 1rem;
    width: 95%;
    padding: 0px 0px 32px 0px;
    height: fit-content;
    align-self: center;
  }

  .divConteConosco p{
    font-size: 1.2rem;
  }

}