.mainContainer{
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.containerTitulo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linhaDetalhe{
  margin: 15px 0px;
  width: 35%;
  height: 3px;
  background-color: rgb(206, 42, 52) ;
}

.containerTitulo h2{
  color: rgb(206, 42, 52);
  padding: 5px;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0px;
}

.containerTitulo p{
  color: rgb(206, 42, 52);
  padding: 5px;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0px;
}

.containerTitulo p:last-child{
  color: #1a1756;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.containerHistoria{
  display: flex;
  width: 1100px;
  background-color: #FAFAFA;
  flex-direction: row;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 16px;
  border-radius: 10px;
  justify-content: space-between;
}

.containerImagem{
  width: 50%;
}

.imagem{
  width: 600px;
  height: 340px;
  border-radius: 10px;
  margin-bottom: 8px;
}
.containerImagem p{
  color: #e55050;
  font-weight: 600;
  font-size: 1.2rem;
}

.containerTextoHistoria{
  width: 432px;
  height: 366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.containerTextoHistoria h2{
  width: 400px;
  color: #e55050;
  font-size: 1.4rem;
  font-weight: 700;
}
.containerTextoHistoria p{
  color: #373435;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.3;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 0px;
  width: 400PX;
}

.linhaDetalhe2{
  margin: 30px 0;
  width: 400px;
  align-self: center;
}

.divConteConosco{
  display: flex;
  flex-direction: column;
}
.divConteConosco p{
  text-align: center;
  letter-spacing: 0px;
  font-weight: 700;
  color: rgb(39, 39, 39) ;
  padding: 10px;
  font-size: 1.4rem;
}

.divConteConosco .linhaDetalhe{
  background-color: rgb(39, 39, 39);
}

@media (max-width: 770px){
  .containerTitulo h2{
    font-size: 1.4rem;
  }

  .containerTitulo p{
    font-size: 1rem;
  }

  .containerHistoria{
    width: 98%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }
  .imagem{
   width: 98%;
   height: auto;
  }
  .containerImagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 16px 0px;
  }
  .containerImagem p{
    font-size: 1.1rem;
  }
  
  .containerTextoHistoria{
    margin-top: 16px;
    width: 98%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
  }
  .containerTextoHistoria h2{
    width: 95%;
  }
  .containerTextoHistoria p{
    font-size: 0.9rem;
    font-weight: 500;
    width: 95%;
  }

  .divConteConosco p{
    font-size: 1.2rem;
  }

}