.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;

}

.containerProposito{
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

.containerProposito h2{
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}
.proposito{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.proposito h3{
  color: #d03438 ;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.proposito p{
  color: #2c1a53;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom:16px;
  text-align: justify;
  line-height: 1.2;
}

.proposito span{
  font-size: 1.1rem;
  font-weight: 700;
  color: #28174c;
}

.containerProposito a{
  color: #ffffff;
  background-color: #2c1a53;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 10px;
  padding: 12px;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  align-self: center;
  display: flex;
  align-items: center;
}
.icon{
  fill: #fff;
  margin-left: 8px;
}

.containerProposito a:hover{
  background-color: #d03438;

}

@media (max-width: 770px){
  .containerProposito{
    width: 95%;
  }
}