.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 64px;
  margin-top: 120px;
}
.linhaDetalheTopo{
  height: 3px;
  width: 400px;
  background-color: #d03438;
  margin-bottom: 120px;

}
.containerTitulo{
  width: 1200px;
  display: flex;
  flex-direction: column;
}
.containerTitulo h1{
  margin-bottom: 64px;
  width: 700px;
}


.containerProposito{
  display: flex;
  flex-direction: column;
  width: 1200px;
  gap: 40px;
  flex-wrap: wrap;
  align-items: flex-start;
}


.proposito{
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 800px;
  padding: 16px;
  justify-content: space-evenly;
  align-items: center;
}

.proposito h2{
  width: 95%;
  color: #d03438 ;
  margin-bottom: 10px;
}

.proposito p{
  color: #696969;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom:16px;
  line-height: 1.4;
  width: 95%;
}

.container a{
  display: flex;
  color: #ffffff;
  background-color: #d03438;
  padding: 16px 32px ;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 64px;
  text-align: center;
  text-decoration: none;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family:"Poppins", sans-serif; 
  text-transform: uppercase;
}


.container a:hover{
  background-color: #ba2c30;

}

@media (max-width: 770px){

  .containerTitulo{
    width: 95%;
    
  }

  .containerTitulo h1{
    font-size: 48px !important;
    width: 95%;
  }
  .proposito{
    width: 95%;
    padding: 16px 0px;
  }
  .containerProposito{
    width: 95%;
    
  }
  .containerProposito p{
    width: 90%;
    font-size: 1rem;
  }
  .containerProposito h2{
    width: 90%;
    font-size: 1.2rem;
  }
  .container h1{
    font-size: 1.4;
  }
}