.contatos{
  margin: 60px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.container{
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 1000px;
  height: 460px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.container form{
  padding-left: 24px;
}
.contatos h1{
  position: relative;
  width: 100%;
  max-width: 1000px;
  font-size: 3rem !important;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: lowercase;
  font-size: 64px !important;
  text-align: left;
  color: #D03438 !important;
}
.contatos h3{
  width: 100%;
  max-width: 1000px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #696969;
  font-size: 1rem ;
}
.endereco{
  position: relative;
  top: -30px;
  width: 400px;
  height: 520px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  z-index: 2;
  margin-left: 48px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.endereco iframe{
  border-radius: 5px;
  width: 100%;
  height: 60%;
}


.endereco a{
  
  font-size: 1.1rem;
  width: 90%;
  font-weight: 500;
  color: #2c1a53;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  line-height: 1.5 ;
  align-self: center;
  
}

.endereco a:hover {
  text-decoration: underline;
}

.endereco p:last-of-type{
  color: #D03438;
  text-align: center;
}
.icons{
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 8px 0px;
}
.icons svg{
  font-size: 2rem;
  fill: #2c1a53;
}
.icons a{
  display: flex;
  width: fit-content;
}
@media (max-width: 1000px){
  .container form{
    padding: 0;
  }
  .container{
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 500px;
    align-items: center;
    padding: 0px;
    box-shadow:none;
    background: none;
  }
  .contatos h1, .contatos h3{
    width: 95%;
  }
  .endereco{
    margin: 0;
    padding: 0;
    top: 0;
    width: 95%;
    align-items: center;
  }
  .endereco p{
    width: 320px;
  }
  .endereco h5{
    width: 320px;
  }
  .contatos h1{
    left: 0;
    font-size: 2.5rem !important;
    margin-bottom: 16px;
  }
  .contatos h3{
    font-size: 0.8rem;
  }
}