.contatos{
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  width: 100%;
  
}

.container{
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 80%;
  max-width: 1000px;
}

.mapa{
  display: flex;
  width: 100%;
}