.card {
  display: flex;
  flex-direction: column;
}

.card span{
  margin-bottom: 24px;
  color: #393939;
  font-weight: 700;
  font-size: 1.4rem;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 24px;

}

.group input, textarea{
  background-color: #EEEEEE;
  color: #454545;
  width: 350px;  
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px;
}
.group  textarea{
  height: auto;
}
.form button{
border-radius: 5px; 
font-size: 1rem;
 width: 350px;
 height: 30px;
 color: #fff;
 background-color: #D03438;
 border-style: hidden;
}
.form button:hover{
  background-color: #ad2a2f;
  cursor: pointer;
}

@media (max-width: 1000px){
  .group input, textarea{
    width: 320px;
  }
  .form button{
    width: 336px;
  }
  .card{
    border-radius: 10px;
    padding:  16px 8px;
    max-width: 350px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
}