.card {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.form span{
  color: #393939;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
  width: 350px;
  
}

.form{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.group input, textarea{
  background-color: #EEEEEE;
  color: #696969;
  width: 350px;  
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px;
  border-radius: 5px;
}
.group  textarea{
  height: auto;
  resize: none;
}
.form button{
border-radius: 5px; 
font-size: 1.1rem;
padding: 8px 0px;
font-weight: 500;
color: #fff;
background-color: #D03438;
border-style: hidden;
font-family: "Poppins", sans-serif;
text-transform: uppercase;
}
.form button:hover{
  background-color: #ad2a2f;
  cursor: pointer;
}

@media (max-width: 1000px){
  .group input, textarea{
    width: 300px;
  }
  .title{
    width: 300px;
  }
  .form button{
    width: 316px;
  }
  .card{
    border-radius: 10px;
    padding:  16px 8px;
    width: 95%;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
}