.container{
  width: 380px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin-top: 32px;
}

.container:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.containerImg{
  display: flex;
  justify-content: center;
  overflow: hidden; 
  margin-bottom: 16px;
}

.containerImg img{
  border-radius: 8px;
  margin-top: 16px;
  width: 350px;
  object-fit: cover;
}

.containerDescricao{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerDescricao h2{
  color: #D03438;
  font-size: 1.4rem;
  margin-bottom: 16px;
}
.containerDescricao p{
  color: #373435;
  font-size: 1.1rem;
  line-height: 1.4;
}



@media (max-width: 770px){
  .container{
    width: 98%;
    margin-top: 16px;
    height: auto;
  }
  .containerImg{
    width: 95%;
  }

  .containerImg img {
    width: 100%;
  }

  .containerDescricao{
    width: 95%;
    padding-bottom: 16px;
    
  }

}