.cabecalho{
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  z-index: 5;
  transition: top 500ms ease;
  padding-top: 16px;
}

.cabecalho_oculto{
  position: fixed;
  top: -10rem;
  transition: top 500ms ease;
}

.cabecalho_fixed{
  padding: 4px 0px;
  position: fixed;
  top: 0;
  height: 4rem;
  background: rgba(44, 26, 83, 0.20);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
}

.navBar{
  position: relative;
 
}
.containerLogo{
position: relative;
left: 32px;
display: flex;
align-items: center;
width: auto;
height: 100%;
}

.logo{
  width: auto;
  height: 100%;
}

.menu{
display: flex;
gap: 24px;
margin-right: 16px;
background: rgba(44, 26, 83, 0.20);
box-shadow: 0 0 10px rgba(0,0,0,0.25);
backdrop-filter: blur(10px);
padding: 16px;
border-radius: 5px;
}

.navBar_li:last-of-type a{
background-color: #d03438;
padding: 8px 16px;
color: #ffffff;
border-radius: 3px;
}

.navBar_li:last-of-type a:hover, .navBar_li:last-of-type a:focus {
color: #d03438;
background-color: #fff;
border: #d03438 1px solid;
transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
transition-duration: 1000ms;
transition-property: color;
}

.navBar_li a{
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0px;
  cursor: pointer;
  position: relative;
  border: none;
  text-decoration: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  font-family: "Poppins", sans-serif;
}


.menu a:focus,
.menu a:hover {
  color: #bcbcbc;
}
.menu a:focus:after,
.menu a:hover:after {
  width: 100%;
  left: 0%;
}

.menu a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


/* menu bar*/ 

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: 0 8px;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  z-index: 6;
  border-radius: calc(4px / 2);
  background: #ffffff;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}

/***** Spin Animation *****/

.bar-top {
  bottom: calc(50% + 11px + 4px/ 2);
  transition-property: bottom,transform;
  transition-delay: calc(0s + 0.35s),0s;
}

.bar-middle {
  top: calc(50% - 4px/ 2);
  transition-property: opacity;
  transition-delay: calc(0s + 0.35s);
}

.bar-bottom {
  top: calc(50% + 11px + 4px/ 2);
  transition-property: top,transform;
  transition-delay: calc(0s + 0.35s),0s;
}


.checkbox:checked + .toggle .bar-top {
  bottom: calc(50% - 4px/ 2);
  transform: rotate(135deg);
  transition-delay: 0s,calc(0s + 0.35s);
}

.checkbox:checked + .toggle .bar-middle {
  opacity: 0;
  transition-duration: 0s;
  transition-delay: calc(0s + 0.35s);
}

.checkbox:checked + .toggle .bar-bottom {
  top: calc(50% - 4px/ 2);
  transform: rotate(225deg);
  transition-delay: 0s,calc(0s + 0.35s);
}

.checkbox, .toggle{
  display: none;
}

.logoMenu{
  display: none;
}

@media (max-width: 770px){
  .cabecalho{
    height: 4rem;
  }
  .cabecalho_fixed{
    position: fixed;
    top: -1px;
    background: rgba(44, 26, 83, 0.20);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
  }
  

  .containerLogo{
    top: 0;
    left: 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed; 
    z-index: 5;
    top: 0;
    left: -110%;
    width: 100%;
    padding: 8px;
    height: 100vh;
    background-color: #d03439f8;
    transition: left 0.5s ease;
    align-items: center;
    gap: 40px;
  }
  .navBar_li:first-child{
    margin-top: 150px;
  }
  .navBar_li a{
    font-size: 2rem;
  }

  .navBar_li:last-of-type a{
    background-color: #ffffff;
    padding: 8px 32px;
    color: #df3232;
    }
  .menuBar{
    display: block;
  }
  .navBar{
    top: 8px;
  }
 .toggle{
    display: block;
    z-index: 6;
  }

  .checkbox:checked ~ .menu{
    left: 0;
    background-color: #d03439f8;
    gap: 40px;
  }
  .checkbox:checked ~ .toggle{
    right: 0;
    position: fixed;
  }
  
 .logoMenu{
    display: block;
    width: 270px;
    margin-top: 16px;
    opacity: 0.1 ;
  }
}