.mainContainer{
  margin: 60px 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainContainer h4{
  font-size: 1.6rem;
  font-weight: 700;
  color: #2C1A53 ;
  margin-bottom: 64px;
}

.logosContainer{
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.logo{
  display: flex;
  width: 250px;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.logo:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.logosContainer span{
  width: 50%;
  height: 3px;
  background-color: #2C1A53;
  margin-top: 32px;
}

@media (max-width: 770px){
  .logo img, .logo{
    width: 180px;
    height: 100px;
  }
  .logosContainer {
    gap: 10px;
  }
}