.mainContainer{
  margin: 60px 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainContainer h4{
  font-size: 1.6rem;
  font-weight: 700;
  color: #2C1A53 ;
  margin-bottom: 64px;
}



.logo{
  display: flex;
  width: 250px;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.logo:hover{
  transform: scale(1.05);
  cursor: pointer;
}



.swiper {
  display: flex !important;
  max-width: 1200px;
  width: 50%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.swiper_slide {
  margin: 0px 0px 10px 0px!important;
  display: flex !important;
  width: 250px !important;
  height: 150px !important;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


@media (max-width: 770px){
  .logo img, .logo{
    width: 180px;
    height: 100px;
  }

  .swiper{
    width: 360px;
  }
}