.mainContainer{
  margin: 72px 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainContainer h1{
  font-size: 1.6rem;
  font-weight: 700;
  color: #2C1A53 ;
  margin-bottom: 64px;
}

.logo:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.containerTitulo{
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.swiper {
  display: flex !important;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.swiper_slide {
  margin: 0px 32px 25px 0px!important;
  display: flex !important;
  width: 250px !important;
  height: 150px !important;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


@media (max-width: 770px){
  .logo, .swiper_slide {
    width: 180px !important;
    height: 100px !important;
    margin-right: 8px !important;
  }
  .swiper{
    width: 95% !important;
    align-self: center;
  }
  .mainContainer{
    align-items: center;
  }
  .containerTitulo{
    width: 95%;
  }
  
}