.mainContainer{
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 20px 0px;
}


  .containerTitulo{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 120px 0px 32px 0px;
  }

  .displayMobile{
    display: none;
   
  }

  .containerCardMobile h2{
    color: #D03438;
    margin-bottom: 16px;
    font-weight: 700 !important;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding-top: 8px;
  }

  .containerCardMobile span{
    height: 3px;
    width: 200px;
    background-color: #D03438;
    margin-bottom: 16px;
  }

@media (max-width: 770px){
  .containerTitulo h1{
    font-size: 48px !important;
  }

  .displayDesktop{
    display: none;
  }
  .displayMobile{
    display: flex;
    width: 95%;
    flex-direction: column;
    gap: 64px;
  }
  .containerCardMobile{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  
  .containerTitulo{
    width: 95%;
  }

}


