.rodape{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #d03438;
  color: white;
  gap: 32px;
  padding: 0 0 16px 0;
}

.social__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1a1756e5 ; 
}

.social__container h3 {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.social_list{
  margin-left: 10px;
  display: flex;
  height: 80px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.social_list ul{
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.info{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: end;
}

.info > p{
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0px;
}

/*Icones*/

.facebook, .instagram, .whatsapp, .email{
  font-size: 28px;
  fill: #ffffff;
}

.direitos{
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.direitos p{
  color: white;
  letter-spacing: 0px;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.direitos a{
  color: white;
  letter-spacing: 0px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  padding: 3px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}
/*Social media icons*/

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.containerFacebook:hover{
  background-color: #0072b1;  transition-duration: .3s;
}

.containerInstagram:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

.containerWhatsapp:hover{
  background-color: #128C7E;
  transition-duration: .3s;
}
.containerEmail:hover{
  background-color: #d03438;
  transition-duration: .3s;
}


@media (max-width: 450px){
  .rodapeConteudo{
    margin-top: 10px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .direitos{
    margin-bottom: 1rem;
  }

  .direitos p{
    font-size: 0.8rem;
  }

  .social__container h3{
    display: none;
  }
}