.container{
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container_conteudo{
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 50%;
}

.container_imagens{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px
}

.imagens{
    width: 300px;
    height: 400px;
}

.titulo{
    color: black;
    font-weight: 600;
    margin: 20px 0px;
    
}