.container{
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 20px 0px;
}

.container_conteudo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
   
}
.titulo{
    grid-column: 2 / span 2;
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    background-color: #040d26; 
    letter-spacing: 1.5px;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
}
.container_conteudo h4{
    grid-column: 4 /span 2;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.container_imagens{
    grid-column: 2 /span 4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
  
}

.imagens{
    width: 300px;
    height: 290px;
    object-fit: cover;
    object-position: 5px 0px 5px 5px;
}

