.container{
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 20px 0px;
}

.container_conteudo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
}
.titulo{
    color: black;
    font-weight: 600;
    margin: 10px 0px;
    grid-column: 2 /span 4;
    
}

.container_imagens{
    grid-column: 2 /span 4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px
}

.imagens{
    width: 300px;
    height: 290px;
    object-fit: cover;
    object-position: 5px 0px 5px 5px;
}

