.imagem{
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}
.imagem:hover{
  transform: scale(1.2);
  cursor: grab;
}

.swiper {
  width: 80%;
  height: 25%;
  overflow: hidden; 
  --swiper-navigation-color: #d03438;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-size: 60px;
  --swiper-navigation-top-offset: 50%;
  --swiper-pagination-color:#d03438 ;
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bullet-width: 14px;
  --swiper-pagination-bullet-height: 14px;
}

.swiper__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden; 
}


  .imagem__mobile{
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }

  
  .swiper__mobile {
    width: 85%;
    height: 120%;
    overflow: hidden; 
    margin-bottom: 80px;
  }
  
  .swiper__slide__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    overflow: hidden; 
  }
  

