.imagem{
  width: 300px;
  height: 290px;
  object-fit: cover;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

