.imagem{
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.swiper {
  width: 360px;
  height: 540px;
  overflow: hidden; 
}

.swiper__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  overflow: hidden; 
}

