@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  color: rgb(0, 0, 0);
}

body {
  background-color: #ffffff;
}

h1,h2,h3,h4,h5{
  font-family: "Poppins", sans-serif;
}

h1{
  font-size: 64px !important;
  font-weight: 600 !important;
  color: #D03438!important;
  text-transform: lowercase;
}


h2{
  font-weight: 500 !important;
  font-size: 1.6rem !important;
}

h3{
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #696969;
  font-size: 16px ;
}

button{
  font-family: "Poppins", sans-serif;
}

@media (max-width: 770px){

  

  h2{
    font-size: 1.4rem !important;
  }
}